*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;

}
.btns {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    margin-top: 20%;
}
button {
    padding: 7px 10px;
    background-color: rgb(45,134,164);
    color: white;
    border-color: transparent;
    border-radius: 12px;

}
button:active{
    background-color: burlywood;
}